/* Genel reset */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Genel layout */
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* HEADER */
.header {
  background-color: #7B4B3A;
  color: white;
  padding: 15px 20px;

  display: flex;                /* SOL - SAĞ AYIRIR */
  justify-content: space-between;
  align-items: center;
  box-shadow: inset 0 -3px 5px rgba(0, 0, 0, 0.2);
}

/* Logo + Yazı */
.header-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Logo */
.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

/* Başlık */
.logo-text {
  margin: 0;
  font-size: 24px;
  font-family: 'Pacifico', cursive;
}

/* NAV */
.nav ul {
  display: flex;
  gap: 30px;          /* Link arası boşluk */
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.nav a:hover {
  opacity: 0.7;
}

/* MAIN */
.main {
  display: flex;
  flex: 1;
  background-color: #D2BBA7;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background-color: #9C6A58;
  color: rgb(236, 232, 232);
  padding: 20px;
  box-shadow: inset 0 -3px 5px rgba(0, 0, 0, 0.3);
}

.sidebar a {
  color: #F8F1E7;
  text-decoration: none; /* alt çizgiyi kaldır */
  display: block;        /* tamamını tıklanabilir yapar */
}

.sidebar a:hover {
  color: #7a4b4b;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #f5f5f5;
  opacity: 0.9;
}

.sidebar li:hover {
  opacity: 0.8;
  background-color: #7B4B3A;
  color: #7a4b4b;
  border-radius: 15px;
  padding: 10px;
  font-size: large;
  box-shadow: inset 0 -3px 5px rgba(0, 0, 0, 0.3);
}

/* CONTENT */
.content {
  flex: 1;
  padding: 30px;
  background-color: #f5f5f5;
}

.content h2 {
  margin-top: 0;
}

/* FOOTER */
.footer {
  background-color: #5A3429;
  color: #EBDDD0;
  text-align: center;
  padding: 12px;
  box-shadow: inset 0 -3px 5px rgba(0, 0, 0, 0.3);
}
/* Menüdeki ürünler ve fotoğraflar */
ul li {
  display: flex;          /* yan yana gösterir */
  align-items: center;    /* dikey ortala */
  gap: 15px;              /* foto ile isim arası boşluk */
  margin-bottom: 15px;
}

ul li img {
  border-radius: 10px;    /* köşeleri yuvarlat */
  object-fit: cover;      /* oran bozulmasın */
}